<!DOCTYPE html>
<html lang="pt-BR" ng-app="primeiraApp">
<head>
    <meta charset="UTF-8">
    <title>Knight App</title>
</head>
<body>
	<div id="app">
		<h1>{{title}}</h1>
		<ul>
			<li><a href="#" v-on:click='listKnights()'>Knigts</a></li>
			<li><a href="#" v-on:click='listHeroes()'>Heroes</a></li>
			<li><a href="#" v-on:click='addKnight()'>Add Knight</a></li>
			<li><a href="#" v-on:click='getKnight()'>Knight</a></li>
		</ul>
		<div>
			<template v-for="Knight in knightList">
				<table>
					<thead>
						<th>
							<td>Nome</td>
							<td>Idade</td>
							<td>Armas</td>
							<td>Atributo</td>
							<td>Ataque</td>
							<td>Exp</td>
						</th>
					</thead>
					<tbody>
						<tr>
							<td>{{Knight.name}}</td>
							<td>Idade</td>
							<td>{{Knight.weapons.lenght}}</td>
							<td>{{Knight.keyAttribute}}</td>
							<td>{{Ataque}}</td>
							<td>{{Exp}}</td>
						</tr>
					</tbody>
				</table>
			</template>
			<template v-for="hero in heroList">
				<h3>{{hero.name}}</h3>
			</template>
			
		</div>
			
	</div>
	
	<script type="text/javascript" src="assets/js/deps.min.js"></script>
    <script type="text/javascript" src="assets/js/app.min.js"></script>
</body>
</html>